:root {
    --main-clr: aqua;
    --secondary-clr: black;
    --tertiary-clr: aquamarine;
}

body {
    color: var(--tertiary-clr);
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(./istockphoto-1140265911-170667a.jpeg);
    background-repeat: repeat-y;
    background-size: 100vw;
}

.game {
    margin: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btns {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.score {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

button {
    background-color: var(--main-clr);
    color: var(--secondary-clr);
    height: 50px;
    width: 100px;
    border-radius: 7%;
    font-size: 20px;
    font-weight: 400;
}

.title {
    color: var(--tertiary-clr);
    font-weight: 800;
    font-size: 22px;
}

.bold {
    font-weight: 600;
}

button:hover {
    filter: brightness(50%);
    transform: translate(0px, 4px) scale(1);
}